@font-face {
    font-family: Open Sans; /* Имя шрифта */
    src: url(../fonts/opensans.ttf); /* Путь к файлу со шрифтом */
   }
html{
	    font-family: sans-serif;
}
body {
  	font-size: 13px !important;
    line-height: 1.6 !important;
    font-family: 'Open Sans', sans-serif !important;
    background-color: #1A1C25; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #7e96a2 !important;
  margin-bottom: 20px !important;
   }

a {
  }
  h1{
  	color:#fff !important;
  	font-size: 18px !important;
  	font-style: italic;
  }
  h2{
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1.3;
  }
  li{
    line-height: 1.4;
  }
  p{
    margin-bottom: 10px !important;
    text-align: justify;
  }
  ul{
    margin-bottom: 20px !important;
  }
  .navbar .navbar-collapse{
  	border-color: #f8f8f8;
  }
  .navbar{
  	margin:0;
  	border-bottom:  1px solid #000;
  }
  .navbar-nav  a{
    color:#777;
    font-size: 13px;
    text-transform: uppercase;
  }
  .main-show{
  	min-height: 540px;
  	background: url(../img/banners/banner.jpg);
  	-webkit-background-size: cover;
  	background-size: cover;
  	position: relative;
  	color: #FFF;
    
  	
  }
  .main-wrapper{
  	width:100%;
  	height: 100%;
  	background-color: rgba(0, 130, 152, 0.75);
  	position: absolute;
  }
  .no_padding{
    padding-bottom: 0px !important;
  }
  .margin_t_30{
  	margin-top: 30px !important;
  }
  .main-show .phone{
  	font-size: 28px;
  	color: #fff;
  }
  .main-show a{
  	color: #fff;
  	font-size: 16px;
  }
  .main-show h1{
  	letter-spacing: -1px;
  	line-height: 1.3;
  	font-weight: 200;
  }
  .margin_t_20{
    margin-top: 20px;
  }
  .margin_b_30{
    margin-bottom: 30px !important;
  }
  .padding_b_50{
    padding-bottom: 50px;
  }
  .padding_t_50{
    padding-top: 50px;
  }
  .contacts{
    margin-left: 20px;
  }
  .img-mh{
    max-height: 365px;
  }
  .btn-custom{
    background: url(../img/patterns/texture.jpg);
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 4px;
  }
  .form-container{
    background: #fff;
    padding: 15px;
      }
.form-container > h3{
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1.3;
}
.list-styling{
  list-style: none;
}
.list-styling li::after{
  content: '\2714';
    position: absolute;
    top: -3px;
    left: -15px;
    color: #7e96a2;
}
.list-styling li{
  position: relative;
  font-size: 14px;
}
.img_max_height{
  max-height: 370px;
}
.red{
  color: red !important;
}
.page-wrapper{
  background: #fff;
  position: relative;
}
.footer_main{
  box-shadow: 0 0 20px rgba(33, 33, 33, .75);
    background: url(../img/patterns/texture.jpg);
}
.footer_main input[type=text]{
  font-style: italic;
  color:#333;
}
.footer_main input{
  height: 46px;
  font-size: 18px;
  margin-right: 10px;
}
.footer_main h4{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.button__styling{
font-size: 14px !important;
background: #7e96a2;
text-transform: uppercase;
box-shadow: 1px 3px 3px rgba(33, 33, 33, .5);
border-radius: 4px;
color: #fff;
height: 44px;
}
.social{
  list-style-type: none;
 
  
}
.footer .social  li{
  display: inline-block;
  margin-right: 10px;
}
.footer ul{
  margin: 0;
  padding: 0;
}
.footer h4{
  margin-bottom: 10px !important;
}
.footer .social a{
  color:#7e96a2;
  font-size: 28px;
}
.partners{
  background: #ebead8;
  min-height: 50px;
  
}
.footer-contacts{
  font-size: 16px;
}
.footer-contacts h4{
  font-size: 13px;
}
.footer-contacts p{
  font-size: 12px;  
}
.nav-customs{
  border-bottom: none;
}
nav ul{
  margin-bottom: 0px!important;
}
/*Уменьшить поля формы*/

/*To top button*/
#to__top__button {
  display: inline-block;
  background-color: #404040;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  bottom: 30px;
  right: 10px;
  visibility: hidden;
  z-index: 1000;
  opacity: 0.7;
}
#to__top__button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 14px;
  line-height: 50px;
  color: #fff;
}
#to__top__button:hover {
  cursor: pointer;
  background-color: #333;
}
#to__top__button:active {
  background-color: #555;
}
#to__top__button.show {
  visibility: visible;
}

@media only screen and (max-width: 767px){
 #to__top__button{

  height: 30px !important;
  width:30px !important;
}
#to__top__button::after{
  font-size: 10px;
  line-height: 28px;
}
}