@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}
.header {
    position: relative;
    height: 100vh;
    background-position: center top;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 3px 10px rgba(1,0,0,.25);
    box-shadow: 0 3px 10px rgba(1,0,0,.25);
}

.logo__link {
    display: block;
    height: 100%;
}
.logo__link img{
	width: 150px;
}
.header__row {
    position: relative;
    padding-top: 2.5rem;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.phone__link {
    color: #fff;
    text-decoration: none;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
.header__phone {
    font-size: 2rem;
    font-family: 'proxima-bold';
}
.phone__link:hover {
    color: #00aeef;
}
.header__content {
    position: absolute;
    width: 100%;
    max-width: 740px;
    top: 50%;
    left: 50%;
    padding: 0 10px;
    color: #fff;
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.header__ttl {
    font-size: 3rem;
    text-transform: uppercase;
}
.header__subttl {
    margin-top: 2rem;
    font-size: 1.4rem;
    font-family: proxima-regular,sans-serif;
}
button.btn {
    border: 1px solid transparent;
    cursor: pointer;
    font-family: proxima-bold,sans-serif;
}
.btn_violet{
	margin-top: 4rem;
	    max-width: 334px;
    height: 54px;
    font-size: 1.8rem;
    line-height: 52px;
        background-color: #00aeef;
    color: #fff;
        width: 100%;
    padding: 0 1rem;
    -webkit-box-shadow: 0 0 6px rgba(1,0,0,.5);
    box-shadow: 0 0 6px rgba(1,0,0,.5);
    text-transform: uppercase;
    -webkit-transition: color .3s ease,background-color .3s ease;
    -o-transition: color .3s ease,background-color .3s ease;
    transition: color .3s ease,background-color .3s ease;
}
.btn_violet:hover {
    background-color: #fff;
    color: #00aeef;
    border: 1px solid #00aeef;
}
.box svg {
    position: absolute;
    top: 0;
    left: 0;
}
svg:not(:root) {
    overflow: hidden;
}
 .box svg line {
    stroke-width: 8;
}
.box svg line.top, .box svg line.bottom {
    stroke-dasharray: 330 240;
}
.box svg line {
    stroke-width: 3;
    stroke: #00aeef;
    fill: none;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.box svg line.left, .box svg line.right {
    stroke-dasharray: 390 400;
}

.box:hover svg line {
  stroke: #fe6f83;
}


.box {
  width: 300px;
  height: 460px;
  position: relative;
  background: #fff !important;
  display: inline-block;
margin-top: 25px;
  cursor: pointer;
    color: #000 !important;

  -webkit-transition: background 0.4s 0.5s;
  transition: background 0.4s 0.5s;
}
.box:hover span, 
.box:hover li {
    color: #fff;
}
.box:hover{
    background-color: #00aeef !important;
}
.box:hover {
  background: rgba(255,255,255,0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;

}

.box h3 {
  font-family: "proxima-bold";
padding-top: 20px;
  margin: 0;
  font-weight: 400;
  width: 100%;
  font-size: 2rem;
  text-align: center;
}



.box h3,
.box span {
  -webkit-transition: color 0.4s 0.5s;
  transition: color 0.4s 0.5s;
}

.box:hover h3,
.box:hover span {
  color: #fff;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.box svg {
  position: absolute;
  top: 0;
  left: 0;
}

.box svg line {
  stroke-width: 3;
  stroke: #00aeef;
  fill: none;
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.box:hover svg line {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.box svg line.top,
.box svg line.bottom {
  stroke-dasharray: 330 240; 
}

.box svg line.left,
.box svg line.right {
  stroke-dasharray: 490 400;
}

.box:hover svg line.top {
  -webkit-transform: translateX(-600px);
  transform: translateX(-600px);
}

.box:hover svg line.bottom {
  -webkit-transform: translateX(600px);
  transform: translateX(600px);
}

.box:hover svg line.left {
  -webkit-transform: translateY(920px);
  transform: translateY(920px);
}

.box:hover svg line.right {
  -webkit-transform: translateY(-920px);
  transform: translateY(-920px);
}

/* Alternatives */

/* Color */
 .box {
  box-shadow: inset 0 0 0 10px #00aeef !important;
}



 .box svg line {
  stroke-width: 8;
}

 .box:hover svg line {
  stroke: #fe6f83;
}


 .box {
  box-shadow: none;
  background: rgba(0,0,0,0.4);
  -webkit-transition: none;
  transition: none;
  color: #fff;
}

 .box h3,
 .box span {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

 .box:hover h3,
 .box:hover span {
  -webkit-transform: scale(1);
  transform: scale(1);
}

 .box svg line {
  stroke-width: 30;
  -webkit-transition: all .4s;
  transition: all .4s;
}

 .box:hover svg line {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

 .box:hover svg line {
  stroke-width: 0;
}

 .box svg line.top,
 .box svg line.bottom {
  stroke-dasharray: 300; 
}

 .box svg line.left,
 .box svg line.right {
  stroke-dasharray: 360;
}

 .box:hover svg line.top {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}

 .box:hover svg line.bottom {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
}

 .box:hover svg line.left {
  -webkit-transform: translateY(460px);
  transform: translateY(460px);
}

 .box:hover svg line.right {
  -webkit-transform: translateY(-460px);
  transform: translateY(-460px);
}

.services-feature {
    list-style-type: none;
    margin: 0 0 5px;
}
.fa-check {
    padding-right: 15px;
    color: #f9b800;
}
.services{
	margin-top: 100px;
	margin-bottom: 100px;
}
.testim__helper{
	    position: absolute;
    width: 100%;
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);
    top: 30px;
    left: 0;
    background: linear-gradient(230deg,#a24bcf,#4b79cf,#4bc5cf);
    -webkit-box-shadow: 0 3px 10px rgba(1,0,0,.25);
    box-shadow: 0 3px 10px rgba(1,0,0,.25);
}
.testimonials{
	position: relative;
	margin-bottom: 100px;
	margin-top: 100px;
}
.testimonials__content{
	    position: relative;
    width: 100%;

    padding: 4rem 2rem;
       background: linear-gradient(270deg, rgb(45, 198, 232), rgb(111, 178, 57)) 0% 0% / 200% 200%;
    -webkit-box-shadow: 0 3px 10px rgba(1,0,0,.25);
    box-shadow: 0 3px 10px rgba(1,0,0,.25);
   
    color: #fff;
    font-size: 2.4rem;
	z-index: 2;
}
.text{
	font-size: 2rem;
}
.slick-prev:before, .slick-next:before{
	font-size: 3rem;
	color: #000;

}
.slick-dots li button:before{
	font-size: 2rem;
}
.contacts__txt_title{
	    margin-bottom: 4.2rem;
    text-transform: uppercase;
    font-family: 'proxima-bold',sans-serif;
    font-size: 3.6rem;
}
.fa-phone{
	transform: rotate(90deg);
	font-size: 2rem;
	color: #00aeef;

}
.tel{
	position: relative;
    display: inline-block;
    padding-left: 36px;
    font-size: 1.8rem;
        color: #00aeef;
         font-family: 'proxima-bold',sans-serif;
    text-decoration: none;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
.tel:hover{
	color: #000;
	text-decoration: none;
}
.contacts{
	margin-bottom: 100px;
}
.contacts__links-item_soc {
    width: 37px;
    height: 37px;
    margin-right: 10px;

    text-align: center;
    -webkit-transition: border-color .3s ease;
    -o-transition: border-color .3s ease;
    transition: border-color .3s ease;
}
.contacts__links a{
	    color: #00aeef;
    text-decoration: none;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
.contacts__links-social{
	display: inline-flex;
}
.contacts__links-item_soc a svg {
    width: 21px!important;
    height: 24px!important;
}
.contacts__txt span.uppercase {
    text-transform: uppercase;
       font-size: 1.8rem;

         font-family: 'proxima-bold',sans-serif;
}
.contacts__links-item.contacts__links-item_phone{
	margin-bottom: 2rem;
}
.contacts__img{
	float: right;
}
.testimonials__slider_name .name{
	color: #fff;
	font-weight: 800;
}
@import "media"; // Always at the end
