@font-face {
    font-family: 'CirceRegular';
    src: url('Circe-Regular.woff2') format('woff2'),
        url('Circe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ExoBold';
    src: url('Exo20-Bold.woff2') format('woff2'),
        url('Exo20-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ExoSemiBold';
    src: url('Exo20-SemiBold.woff2') format('woff2'),
        url('Exo20-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ExoRegular';
    src: url('Exo20-Regular.woff2') format('woff2'),
        url('Exo20-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ExoLite';
    src: url('Exo20-Light.woff2') format('woff2'),
        url('Exo20-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ExoLightItalic';
    src: url('Exo20-LightItalic.woff2') format('woff2'),
        url('Exo20-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

