body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

a{
	font-family: "Arial Bold", sans-serif;
	color:#fff;
}
.logomenu
{

	background: url(../img/logo.img) no-repeat center center;

	width:85px;
}
@media (min-width: 1280px) {

	.navbar-header
	{
	padding-top: 50px;	
	padding-left: 125px;
	}
  #collapsing{
  	padding-top: 50px;
  	padding-right:100px; 
  }
}

header {
	
	position: relative;
  background-color: #343a40;
  background:url("../img/homebg.jpg") no-repeat center center;
  
   webkit-background-size: cover;
  -moz-webkit-background-size: cover;
  -ms-webkit-background-size: cover;
  -o-webkit-background-size: cover;
  background-size: cover;
 
 
  
  padding-bottom: 7rem;
 
  padding-top: 7rem;
	}

	header .header-content{
		 padding-bottom: 8rem;
		 padding-top: 28rem;
	}
@media (max-width: 768px) {
  header .header-content {
    padding-top: 25rem;
    
  }
}

header h1{

	font-size:7rem;
	color:white;
	text-transform: uppercase;
}
header h3{
	
	font-size:4rem;
	
	color:white;

	
}
@media (max-width: 768px) {
  .superbutton {
   margin-top: 1rem;
    
  }
}

button{
	margin-top: 3.7rem;
	border-radius: 2px !important;
	background-color: #fed136;
	color:white;

}
.navbar-default {
    background-color: transparent;
   font-size: 14px;
   text-transform: uppercase;

   
    border-color: rgba(255, 255, 255, 0.0);
  }
.navbar-default .nav > li > a:hover{
  	color:#F05F40;
  }
    .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
  	
    color: #fff;
  }
.text-uppercase{text-transform:uppercase}
.strong { font-weight: bold; }
.services {
  padding-top: 7rem;
  padding-bottom: 7rem;
}


.services .features-icons-item .features-icons-icon {
  height: 7rem;
}

.services .features-icons-item .features-icons-icon img {
  font-size: 4.5rem;
}

.services .features-icons-item:hover .features-icons-icon img {
  font-size: 5rem;
}
.services p,
.services h5
{
	font-size: 2rem;
}
h6 .mb-3
 {
  margin-bottom: 1rem !important;
}
.mb-5
 {
  margin-bottom: 10rem !important;
}
.mb-3
 {
  margin-bottom: 1rem !important;
}
img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
.portfolio h2,
.portfolio h6{
	font-size: 18px;
}


.about_us .row:last-child {
    padding-bottom: 0;
}
@media (min-width: 768px){
.about-img:after{
	content: '';
	display:block;
	height: 94px;
	width: 3px;
	background: #F1F1F1;
	margin: 0 auto;

}
}
.about-img img{
	display: inline-block;

	border:7px solid #f1f1f1;
	 border-radius:50%;
	-moz- border-radius:50%;
	-ms- border-radius:50%;
	-o-border-radius:50%;
	-webkit border-radius:50%;
}
.fa-twitter-square:hover
{
  color:#00aced;
}
.fa-facebook-square:hover{
color:#3b5998;
}
.fa-pinterest-square:hover{
color:#cb2028;
}
.our_team,
.portfolio{
  padding-top:60px;
  background-color: #f9f9f9;
}
.items{
  padding-top:60px;

}
.items a{
  margin-right: 40px;
  display: inline-block;
}
section.contact_us{
  padding-top:60px;
  background: url('../img/back.png') no-repeat center center;
}
.contact_us h2{
  color: #fff;
}
.contact_us button{
  margin-top: 2rem;
  border-radius: 2px !important;
  background-color: #fed136;
  color:white;

}
textarea {
   resize: none;
   
}

footer
{
   padding-top:30px;
}
footer p{
  margin-top: 10px;
}
