@font-face{font-family:RalewayBlack;src:url(../fonts/raleway/Raleway-Black.ttf);}
@font-face{font-family:RalewayMedium;src:url(../fonts/raleway/Raleway-Medium.ttf);}
@font-face{font-family:RalewayLight;src:url(../fonts/raleway/Raleway-Light.ttf);}
@font-face{font-family:RalewayThin;src:url(../fonts/raleway/Raleway-Thin.ttf);}


@mixin strip($width, $height, $background-color){
   hr{
    width: $width;    
    height: $height;
    background-color: $background-color;
  }
 
}

body {
  font-family: 'RalewayLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



a{
	font-family: "Arial Bold", sans-serif;
	color:#fff;
}
header {
  
}
nav.navbar-default{
  position: absolute;
  z-index: 1030;

}
.navbar-nav>a{
  color:#fff;
  font-size: 12px;
}
.carousel{
  position: relative;
}
.masthead.overlay{
  position: absolute;
  background: #212529;
  width: 100%;
  height: 100%;
  opacity:0.1;
  top:0;
  left:0;
}
.we_are.overlay{
  position: absolute;
  background: #212529;
  width: 100%;
  height: 100%;
  opacity:0.1;
  top:0;
  left:0;
}
header .header-content{
		 padding-bottom: 8rem;
		 padding-top: 28rem;
	}


header h1{

	font-size:7rem;
	color:white;
	text-transform: uppercase;
}
header h3{
	font-size:4rem;
	color:white;
}
.carousel-item > img { width:100%; height:900px; }
.carousel-item span{
  font-family: 'RalewayBlack', sans-serif;
  font-size: 72px;
}
.carousel-item {
  h1{
  font-family: 'RalewayLight', sans-serif;
  font-size: 72px ; 
}
h4{
  font-family: 'RalewayMedium', sans-serif;
  font-size: 24px;
}
}
.bg_first{
	background:url("../img/slider-bg5.png") no-repeat center center;
  	-webkit-background-size: cover;
  	-moz-webkit-background-size: cover;
  	-ms-webkit-background-size: cover;
  	-o-webkit-background-size: cover;
  	background-size: cover;
	padding-bottom: 25rem;
 	padding-top: 12rem;
}
.bg_second{
	background:url("../img/slider-bg2.png") no-repeat center center ;
   	-webkit-background-size: cover;
  	-moz-webkit-background-size: cover;
  	-ms-webkit-background-size: cover;
  	-o-webkit-background-size: cover;
  	background-size: cover;
  	padding-bottom: 25rem;
 	padding-top: 12rem;
}
.bg_third{
	background:url("../img/slider-bg3.png") no-repeat center center;
  	-webkit-background-size: cover;
  	-moz-webkit-background-size: cover;
  	-ms-webkit-background-size: cover;
  	-o-webkit-background-size: cover;
  	background-size: cover;
  	padding-bottom: 25rem;
  	padding-top: 12rem;
}

.we_are{
    background:url("../img/bg_weare.png") no-repeat center center ;
    background-size: 50%;
    -webkit-background-size: cover;
    -moz-webkit-background-size: cover;
    -ms-webkit-background-size: cover;
    -o-webkit-background-size: cover;
    background-size: cover;
    min-height: 520px;
    height: 100%;
   
    h1{
      padding-top: 100px;
      padding-bottom: 10px;
      color:#fff;
      font-family: 'RalewayBlack', sans-serif;

    }
    p{
      padding-bottom: 100px;
    }
 @include strip(100px, 1px, #e5e5e5)

}
.corp_cult{
    margin-top: 100px;
    margin-bottom: 100px;
    h1{
      margin-bottom: 30px;
      font-size: 40px;
     font-family: 'RalewayBlack', sans-serif;
    

    }
    p{
      font-size: 22px;
      color:#818181;

    }
    .p_mr{
      font-size: 16px;
    }
    @include strip(100px, 1px, #e5e5e5);
 img{
  float:left;
 }
.carousel-item h1{
  font-family: 'RalewayThin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.text-bold{
  font-weight: 900;
}
}
.mr{
  margin-right: 35px;
}
.p_mr{
  margin-left: 70px;
}
.spacing{
  margin-bottom: 70px;
  margin-top: 30px;
 }
.margin_row{

  margin-bottom: 30px;
}
.site_evaluation{
  background:url("../img/evaluation.jpg") no-repeat center center ;
    -webkit-background-size: cover;
    -moz-webkit-background-size: cover;
    -ms-webkit-background-size: cover;
    -o-webkit-background-size: cover;
    background-size: cover;
    margin-top: 100px;
  margin-bottom: 100px;
h1{
         padding-top: 100px;
      margin-bottom: 30px;
    }
    @include strip(100px, 1px, #e5e5e5);
}
input.form-control {
  background-color:rgba(0,0,0,0) !important;
       border:solid 1px #fff;
       border-radius: 0px;

}
h3{
  font-size:22px !important;
}

form{
  button{
    background-color: #fffefd;
  }

  
  label{
    color:#fff;
     margin-bottom: 25px;
     margin-left: 15px;
  }
}
// input::placeholder{
//   color:#fff !important;
// }
form .form-control::placeholder{
  color: #fff;
}
form .first {
  max-width: 550px ;
  width: 100%;
}
form .second{
  max-width: 550px;
 width: 260px !important;


}
.first input{
   height: 45px !important;
}
.second input{
  width: 260px !important;
  margin-right: 20px;
  height: 45px !important;
}
.input-group-btn .third {
  width: 260px;
  background-color: #fffefd;
  color: #898989;
  border-radius: 0px;
  border-color: none;
  height: 45px;
  
}
.about_us{
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content:around;

h1{
  margin-bottom: 20px;
  font-size: 22px;


} 
@include strip(100px, 1px, #e5e5e5);

 h2{
  margin-bottom: 100px;
 }
 }

.about_us p{
  text-align: center;
  font-size: 12px;
}
.about_us .namer{
  font-size: 22px;
  color: #9d9d9d;
}
.images{
  text-align: center;
  img{
    padding-bottom: 10px;
  }
  h1{
    font-family: 'RalewayMedium', sans-serif;
    font-size: 22px;
  }
  p{
    font-family: 'RalewayThin', sans-serif;
    color:#000 ;
  }
}
.about_us .about_heading{
  font-size: 40px;
  font-family: 'RalewayBlack', sans-serif;
}
.we_are .namer{
  font-size: 22px;
  color:#fff;
  text-align: center;
  font-family: 'RalewayLight', sans-serif;
}