@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Thin.eot');
  src: url('../fonts/raleway/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway/Raleway-Thin.woff2') format('woff2'),
  url('../fonts/raleway/Raleway-Thin.woff') format('woff'),
  url('../fonts/raleway/Raleway-Thin.ttf') format('truetype'),
  url('../fonts/raleway/Raleway-Thin.svg#Raleway-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Light.eot');
  src: url('../fonts/raleway/Raleway-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway/Raleway-Light.woff2') format('woff2'),
  url('../fonts/raleway/Raleway-Light.woff') format('woff'),
  url('../fonts/raleway/Raleway-Light.ttf') format('truetype'),
  url('../fonts/raleway/Raleway-Light.svg#Raleway-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Regular.eot');
  src: url('../fonts/raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway/Raleway-Regular.woff2') format('woff2'),
  url('../fonts/raleway/Raleway-Regular.woff') format('woff'),
  url('../fonts/raleway/Raleway-Regular.ttf') format('truetype'),
  url('../fonts/raleway/Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Medium.eot');
  src: url('../fonts/raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway/Raleway-Medium.woff2') format('woff2'),
  url('../fonts/raleway/Raleway-Medium.woff') format('woff'),
  url('../fonts/raleway/Raleway-Medium.ttf') format('truetype'),
  url('../fonts/raleway/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-SemiBold.eot');
  src: url('../fonts/raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway/Raleway-SemiBold.woff2') format('woff2'),
  url('../fonts/raleway/Raleway-SemiBold.woff') format('woff'),
  url('../fonts/raleway/Raleway-SemiBold.ttf') format('truetype'),
  url('../fonts/raleway/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Bold.eot');
  src: url('../fonts/raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway/Raleway-Bold.woff2') format('woff2'),
  url('../fonts/raleway/Raleway-Bold.woff') format('woff'),
  url('../fonts/raleway/Raleway-Bold.ttf') format('truetype'),
  url('../fonts/raleway/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-ExtraBold.eot');
  src: url('../fonts/raleway/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway/Raleway-ExtraBold.woff2') format('woff2'),
  url('../fonts/raleway/Raleway-ExtraBold.woff') format('woff'),
  url('../fonts/raleway/Raleway-ExtraBold.ttf') format('truetype'),
  url('../fonts/raleway/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Black.eot');
  src: url('../fonts/raleway/Raleway-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway/Raleway-Black.woff2') format('woff2'),
  url('../fonts/raleway/Raleway-Black.woff') format('woff'),
  url('../fonts/raleway/Raleway-Black.ttf') format('truetype'),
  url('../fonts/raleway/Raleway-Black.svg#Raleway-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}